<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="DAILYEXPENSES_MYSQL" connectionString="Data Source=Localhost;DATABASE=dailyexpenses_test;User Id=root;PASSWORD=''" providerName="MySql.Data.MySqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />

  </system.web>
  <system.net>
    <mailSettings>
      <smtp from="mail@hainow.com">
        <network host="smtp.hainow.com" password="mail123" port="25" userName="mail@hainow.com"/>
      </smtp>
    </mailSettings>
  </system.net>
</configuration>
